.sidebar
{
  width:12%;
  top:0
  left:0;
  padding: 20px 20px 20px 20px;
  position: fixed;
  background: url('../images/background/black_opac.png');
}

.sidebar a
{
  color: #fcdc33;
  text-decoration: none;
}

.sidebar a:hover
{
  color: white;
}

ul
{
	list-style: none;
}
.research-content
{
  width: 60%;
  padding: 50px 80px 50px 80px;
  margin-left:auto;
  margin-right:auto;
  background: url('../images/background/black_opac.png');
  position: relative;
}
p
{
  color: white;
}
