.sidebar
{
  top:0
  left:0;
  padding-left: 5px;
  position: fixed;
}

.sidebar a
{
  color: white;
  text-decoration: none;
}

.sidebar a:hover
{
  background-color: white;
}
.research-content
{
  width: 60%;
  padding-left: 5px;
  margin-left:auto;
  margin-right:auto;
}
p
{
  color: white;
}
