.scope-content
{
  width: 60%;
  padding: 50px 80px 50px 80px;
  margin-left:auto;
  margin-right:auto;
  background: url('../images/background/black_opac.png');
  position: relative;
}

p
{
  color: white;
}

#left-content-box
{
	position: relative;
	width: 50%;
	display: inline-block;
	background: white;
	float: left;
}

#right-content-box
{
	position: relative;
	width: 48%;
	display: inline-block;
	background: green;
	padding-left: 2%;
}