*{ 
   margin: 0; padding: 0; 
}

html { overflow-y: scroll; }

header, footer, section, hgroup, nav
{
  display:block;
}

body { 
  font: 12px/1.4 Helvetica, sans-serif;
  height: 100%;
}

/* Background Image */
img.bg
{
  /* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1024px)
{
    img.bg {
		left: 50%;
		margin-left: -512px;   /* 50% */
	}

}
  

/* Header */
header
{
  background: url('../images/header/header_background.png')repeat-x;
  padding: 7px 5px 7px 25px;
}

/* Make footer stick to bottom of page */
html, body, #page-wrap
{
  height: 100%;
}

/* Make footer stick to bottom of page */
body > #page-wrap 
{
  height: auto;
  min-height: 100%;
}

/* Page wrap */
#page-wrap
{ 
    width: 100%;
    position: relative;
}

/* Headings */
h1,h2,h3
{
	font-family:Helvetica,Arial,Sans-Serif;
}

h1
{
	/* The logo text */
	font-size:3.5em;
	text-transform:uppercase;
  color: white;
  padding-left: 10px;
}

h2
{
  color: white;
  padding-bottom: 20px;
  font-size: 2.5em;
}

p
{
	line-height:1.5em;
	padding-bottom:1em;
}

/* Main content */
#main-content { 
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 3em;
}
 
.index-content
{
  width: 60%;
  margin-left:auto;
  margin-right:auto;

}

#guts
{
  padding-top: 10px;
}

/* Navigation bar */
nav
{
  position:absolute;
  padding: 0 5px;
  top: 2em;
  right:0;
  text-align: center;

opacity: 1;
filter: alpha(opacity=100);
  
}

nav ul 
{ 
    list-style: none;
    padding: 4px 15px;
    width: 478px; 
    position: relative; 
}
nav ul li 
{ 
  display: inline; 
}


nav ul li a {
	display: block;
	float: left;
	padding: 0 10px;
	font: 11px "Helvetica", sans-serif;
	color: white;
  text-decoration: none; 
	margin: 0 5px 0 0;
}

/* Navigation bar on hover underline */
nav ul li a:hover 
{
  background-color: #021c24;
}	

/* Navigation bar on selected underline */
nav ul li a:active, nav ul li a.current 
{
  text-decoration: underline;
}

/* Footer */
footer 
{ 
  background: #8b8b8b;  
  width: 100%; 
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
}
